/*　body,html　--------------------------*/
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*コンテナについて　----------------------------*/
.container {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 30px;
}

/* フッターについて　--------------------- */
.footer {
  /*相対位置指定*/
  position: relative;
  bottom: 0;
  /* 横幅 */
  width: 100%;
  /* フッダーの固定の高さ */
  height: 120px;
  /* 背景色 */
  background-color: #444444;
  /*文字色*/
  color: white;
}
 
 .f-contents {
  width: auto;
  max-width: 500px;
  padding: 0 60px;
}
.f-contents .text {
  margin: 15px 0 0 0 15px;
}


/* カードについて -------------------------------*/
.card-body {
  background-color: #AEFFBD;
}

#simple-card{
  margin-top:40px; 
}

#simple-card-body{
  background: white;
}

/* テキストについて -------------------------------*/
.center {
  text-align: center;
}